{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">About Page</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi debitis aut amet doloremque officiis voluptatem, quod non, adipisci explicabo ut culpa dolorum provident maxime velit ipsum iste neque facilis mollitia!</p>
      <hr>
      <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
{% endblock %}